.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item .left {
  font-size: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.actions button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #EFD09E;
}

.actions button:hover {
  background-color: #e0ad5b;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}